@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background:linear-gradient(to top,#000000, #14213d);
    color: white;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 15vh;
    font-family: 'poppins';
}
header li {
    display: inline-block;
    list-style: none;
    font-size: 1.25rem;
    margin-left: 45px;
    font-weight: 600;
    position: relative;
}
header li::after {
position: absolute;
content: '';
width: 0%;
transition: 0.5s ease-in-out;
height: 3px;
left: 0;
background-color: #bde0fe;
bottom: 0;

}
header a:hover {
    color: #bde0fe;
    transition: 0.5s ease-in-out;
}
header li:hover::after {
    width: 100%;
    transition: 0.5s ease-in-out;
}
header i {
    cursor: pointer;
    font-size: 2rem;
    transition: 0.5s ease-in-out;
}
header i:hover {
    color: #bde0fe;
    transition: 0.5s ease-in-out;
}
header i:first-child {
    padding-left: 50px;
}
header i:nth-child(odd) {
padding-right: 20px;
z-index: 1000;
}


header a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}
.typed-cursor {
    font-size:2rem;
    font-weight: bold;
    display: inline-block;
    height: 20px;
    width: 20px;
}
#navbar {
    position: fixed;
    right: 0;
    font-family: 'poppins';
    font-weight: 700;
    transform: translateX(500px);
    font-size: 1.35rem;
    padding-top: 0px;
    transition: 0.5s ease-in-out;
}
#navbar.open {
    transform: translateX(0px);
    transition: 0.5s ease-in-out;
}
#navbar ul {
    padding-right: 100px;
    margin-top: 150px;
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar li {
    margin-top: 20px;
    list-style: none;
}
#left {
    display: flex;
    font-family: 'roboto';
}
#box {
    margin-top: -80px;
    padding-left: 70px;
    font-family: 'roboto';
}

#box p {
    width: 700px;
    line-height: 2;
margin-top: 40px;
font-weight: 600;
}
#type span {
    color: #023047;
}
button {
    height: 40px;
    width: 100px;
    background-color: #000000;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
button a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #bde0fe;
    transition: 0.5s ease-in-out;
}
button:hover {
   scale: 1.25;
   transition: 0.5s ease-in-out;
}
button a:hover {
    color: #63b0f4;
}
button:nth-child(even) {
    height: 50px;
    width:50px;
    cursor: pointer;

}
#container {
    padding-top: 200px;
display: flex;
}
#computer {
    background-color: transparent;
    width: 400px;
    height: 250px;
    margin-left: 125px;
    margin-top: -100px;
    border-radius: 30px;
    border: 20px solid black;
}
#firstbar, #secondbar, #thirdbar {
    width: 30px;
    border-radius: 30px;
margin-left: 20px;
    height: 30px;
    margin-top: 27px;
}
#firstbar {
    background-color: aqua;
}
#secondbar {
    background-color: red;
}
#thirdbar {
    background-color: chartreuse;
}
#content {
    margin-top: 30vh;
}